{{ template "header.html" }}

<div class="album py-4 bg-light">
    <div class="container">
        <div class="row">
            <!--Loop over the list of videos-->
            {{range .videos}}
            <div class="container-fluid">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 padding-zero embed-responsive embed-responsive-16by9"></div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/TtjOg1rsIC4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p class="card-text">
                        <h4>{{.Title}}</h4>
                        <p>{{.Description}}</p>
                    </p>
                </div>
            </div>
            {{end}}
        </div>
     </div>
</div>


{{ template "footer.html" }}